<section class="bg-main-light shadow p-2 my-2 rounded-4">
  <div class="container">
    <h1 class="h2 text-main">Forgot password :</h1>
    @if(step==1){

    <form [formGroup]="verifyEmail" (ngSubmit)="verifyemailSubmit()">
      <div class="my-2">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
        />
        @if(verifyEmail.get('email')?.errors
        &&(verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty)){
        <div class="alert alert-danger w-50">
          @if(verifyEmail.get('email')?.getError('required')) {
          <p class="my-2">Email is required</p>
          } @else if (verifyEmail.get('email')?.getError('email')) {
          <p class="my-2">Email doesn't exist</p>
          }
        </div>
        }
      </div>
      <button
        [disabled]="verifyEmail.invalid"
        (click)="verifyemailSubmit()"
        class="btn-main"
      >
        Submit
      </button>

      <!--     @if(msgError){
        <p class="alert alert-danger w-50 m-0">{{ msgError }}</p>
        } @if (successMsg) {
        <p>Success</p>
        } -->
    </form>
    } @else if (step==2) {
    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
      <div class="my-2">
        <label for="email">Code</label>
        <input
          id="resetCode"
          type="text"
          formControlName="resetCode"
          class="form-control"
        />
        @if(verifyCode.get('resetCode')?.errors
        &&(verifyCode.get('resetCode')?.touched||verifyCode.get('resetCode')?.dirty)){
        <div class="alert alert-danger w-50">
          @if(verifyCode.get('resetCode')?.getError('required')) {
          <p class="my-2">Email is required</p>
          } @else if (verifyCode.get('resetCode')?.getError('resetCode')) {
          <p class="my-2">Email doesn't exist</p>
          }
        </div>
        }
      </div>
      <button
        [disabled]="verifyCode.invalid"
        (click)="verifyCodeSubmit()"
        class="btn-main"
      >
        Submit
      </button>

      <!--     @if(msgError){
        <p class="alert alert-danger w-50 m-0">{{ msgError }}</p>
        } @if (successMsg) {
        <p>Success</p>
        } -->
    </form>
    } @else if (step==3) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
      <div class="my-2">
        <label for="email">Email</label>
        <input
          readonly
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
        />
        @if(resetPassword.get('email')?.errors
        &&(resetPassword.get('email')?.touched||resetPassword.get('email')?.dirty)){
        <div class="alert alert-danger w-50">
          @if(resetPassword.get('email')?.getError('required')) {
          <p class="my-2">Email is required</p>
          } @else if (resetPassword.get('email')?.getError('email')) {
          <p class="my-2">Email doesn't exist</p>
          }
        </div>
        }
      </div>
      <div class="my-2">
        <label for="password">Password</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="form-control"
        />
        @if(resetPassword.get('password')?.errors&&(resetPassword.get('password')?.touched||resetPassword.get('password')?.dirty)){
        <div class="alert alert-danger w-50">
          @if(resetPassword.get('password')?.getError('required')) {
          <p class="my-2">Password is required</p>
          } @else if (resetPassword.get('password')?.getError('pattern')) {
          <p class="my-2">Password doesn't match</p>
          }
        </div>
        }
      </div>
      <button
        [disabled]="resetPassword.invalid"
        (click)="resetPasswordSubmit()"
        class="btn-main"
      >
        Submit
      </button>
    </form>
    }
  </div>
</section>
